<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SCE0RNJKLW"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SCE0RNJKLW');
    </script>
    {% block head %}{% endblock %}
    <script src="https://cmp.osano.com/16BWMWU3l2LWr4HS2/7c2fd6a3-310f-4480-9396-03e45cec2669/osano.js"></script>
    <script src="https://kit.fontawesome.com/e208d49caf.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/frontend.js') }}"></script>
</head>

<body>
    <header>
        <section>
            <a href="/index" class="nav-link">HOME</a>
            <a href="/projects" class="nav-link">PROJECTS</a>
            <a href="/resume" class="nav-link">RESUME</a>
        </section>
        
        <section>
            <a href="mailto:travisro@outlook.com"><i class="fas fa-envelope"></i></a>
            <a href="https://linkedin.com/in/travis-roth" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/travis-roth" target="_blank"><i class="fa-brands fa-github"></i></a>
        </section>
    </header>
    
    <main>
    
        {% block content %}{% endblock %}

    </main>
</body>
</html>