{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<section class="project-page">
        <h1>Billionaires Project</h1>

        <p>RESEARCH OBJECTIVE: The goal of this project was to answer the question: what makes a billionaire? As part of a larger research project, I created this dashboard to answer questions about how, where, and with what social capital do billionaires make their money?</p> 
        <p>SKILLS GAINED: PowerBI, Exploratory Data Analysis, Data Visualization</p>
        <iframe title="Billionaires" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMTQzYWQ3NzUtN2NiYi00NjgxLTgzOTgtNGI5OTViNDBhZWU0IiwidCI6ImY2YjZkZDViLWYwMmYtNDQxYS05OWEwLTE2MmFjNTA2MGJkMiIsImMiOjZ9" frameborder="0" allowFullScreen="true"></iframe>        
        {% endblock %}