{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<section class="project-page">
        <h1>DubGrub Mobile Ordering</h1>

        <p>Our team was "hired" as management consultants to address an organizational challenge. The focus of our assignment was navigating the transition "from surviving to thriving after the pandemic." Our task involved identifying a real organization and utilizing OB theory to propose solutions aimed at enhancing employee functioning post-COVID. </p> 
        <p>After selecting Bloodworks Northwest as our organization, our team delved into exploring the challenges and incentives surrounding blood donation. Through interviews with both students and staff, we thoroughly investigated the factors influencing blood donation rates. Our objective was to identify strategies to bolster blood donations within the university community, recognizing the critical importance of blood in life-saving procedures. The culmination of our efforts was presented in a video that outlined our research process, highlighted key findings, and proposed actionable solutions aimed at increasing blood donations. This project not only provided insights into improving blood donation rates but also contributed to the noble cause of saving lives through enhanced blood donation initiatives.</p>

        <iframe src="https://www.youtube.com/embed/bd89KxZzbfA" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
</section>
{% endblock %}