{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>

</head>
{% endblock %}

{% block content %}
<body>
    <section class="dashboard">
        <div class="dashboard-container">
            <h1>Admin Dashboard</h1>
            <form id="startDateForm">
                <label for="startDate">Select Start Date:</label>
                <select name="startDate" id="startDate">
                    <option value="yesterday">1 Day</option>
                    <option value="7daysAgo" selected>7 Days</option>
                    <option value="30daysAgo">30 Days</option>
                </select><br>
            </form>
            <div class="panel-container">
                <div class="main-panel">
                    <div class="panel-KPIs">
                        <div class="KPI">
                            <h1>Users</h1>
                        </div>
                        <div class="KPI">
                            <h1>Users</h1>
                        </div>
                        <div class="KPI">
                            <h1>Users</h1>
                        </div>
                    </div>
                    <canvas id="lineChart" width="400" height="200"></canvas>
                </div>
                <div class="secondary-panel">
                    <div class="panel-KPIs">
                        <h1>Page Views</h1>
                    </div>
                    <div id="eventsByPageTable"></div>
                </div>
            </div>
            <div class="panel-container">
                <div class="secondary-panel">
                    <div class="panel-KPIs">
                        <h1>Sessions</h1>
                    </div>
                    <div id="sessionsBySourceTable"></div>
                </div>
                <div class="main-panel">
                    <div class="panel-KPIs">
                        <h1>Sessions</h1>
                    </div>
                    <canvas id="myChart" width="200" height="100"></canvas>
                </div>
            </div>
    </div>
    </section>
</body>
{% endblock %}
