{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <section>
        <h1>TRAVIS ROTH</h1>

        <div id="visitor-info"></div>

        <script>
            // Make an AJAX request to fetch visitor information
            fetch('/visitor-info')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to fetch visitor information');
                    }
                    return response.json();
                })
                .then(data => {
                    const visitorInfoElement = document.getElementById('visitor-info');
                    const userOrder = data.user_order;
                    const userId = getCookie('user_id');

                    visitorInfoElement.textContent = `Welcome! You are visitor number ${userOrder}`;
                })
                .catch(error => console.error('Error fetching visitor information:', error));
        </script>
        
        
    
        <a href="/projects" class="btn" id="landing_projects_button">MY PROJECTS</a>

        <div id="sankey-diagram"></div>
        <script>
            // Fetch data from Flask backend
            fetch('/sankey-data')
                .then(response => response.json())
                .then(data => {
                    // Render Sankey diagram using Plotly.js
                    var trace = {
                        type: 'sankey',
                        node: {
                            pad: 15,
                            thickness: 20,
                            line: {
                                color: 'black',
                                width: 0.5
                            },
                            label: data.nodes
                        },
                        link: {
                            source: data.links.map(link => link.source),
                            target: data.links.map(link => link.target),
                            value: data.links.map(link => link.value)
                        }
                    };
                    var layout = {
                        title: 'User Flow Sankey Diagram'
                    };
                    Plotly.newPlot('sankey-diagram', [trace], layout);
                })
                .catch(error => console.error('Error fetching Sankey data:', error));
        </script>
    </section>



{% endblock %}