{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <section>
        <h1>TRAVIS ROTH</h1>

        <div id="visitor-info"></div>

        <script>
            // Make an AJAX request to fetch visitor information
            fetch('/visitor-info')
                .then(response => response.json())
                .then(data => {
                    const visitorInfoElement = document.getElementById('visitor-info');
                    const distinctVisitorsCount = data.distinct_visitors_count;
                    visitorInfoElement.textContent = `You are visitor number ${distinctVisitorsCount}`;
                })
                .catch(error => console.error('Error fetching visitor information:', error));
        </script>
    
        <a href="/projects" class="btn" id="landing_projects_button">MY PROJECTS</a>
    </section>



{% endblock %}