{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    <section class="hero">
        <div class="hero-name">
            <h1 id="hero-name">TRAVIS ROTH</h1>
        </div>   
        <div class="hero-text" id="hero-text">
            <h1 id="hero-description">I'm Travis Roth, a student at UW studying Information Systems and Marketing...</h1>
            <div id="cursor"></div>
        </div>
    </section>
    <section class="projects" id="projects">
        <div class="project1" id="project1">
            <h1 id="project1-1">...I love technology because there is always something new to learn. Most recently, I learned HTML/CSS/JS to build <a href="/website" class="btn-ppage">this website<i class="fa-solid fa-arrow-right"></i></a><h1>
            <img id="computergif" src="https://media.tenor.com/LmKTgSCWvQwAAAAi/this-is-the-end.gif" alt="1990s computer 16bit gif">
        </div>

        <div class="project2" id="project2">
            <h1 id="project1-1">A while ago, I started learning data analytics, and became really interested in machine learning.<h1>
            <h1>I learned how to predict all sorts of things, like <a href="https://github.com/travis-roth/Beating-the-Bookies-With-ML" class="btn-ppage" target="_blank">who would win football games<i class="fa-solid fa-arrow-right"></i></a></h1>
            <img id="footballgif" src="https://media.tenor.com/8bj3cua0bAsAAAAi/sports-football.gif" alt="football player running gif">
        </div>

        <div class="project3" id="project3">
            <div class="weathergif"></div>
            <h1>Most recently, I built a <a href="/weather_home" class="btn-ppage" >weather app<i class="fa-solid fa-arrow-right"></i></a>, adding Python Flask to my toolkit.</h1>
            <img id="weathergif" src="https://media.tenor.com/yGTOUAMOiJYAAAAi/sun-wilao.gif" alt="sun gif">

        </div>

        <div class="project4" id="project4">
            <h1>Check out the <a href="/projects" class="btn-ppage" >projects page<i class="fa-solid fa-arrow-right"></i></a> to see everything in one place </h1>
        </div>

    </section>
    <section class="contact" id="contact">
        <div class="nav-social-links">
            <a href="mailto:travisro@outlook.com"><i class="fas fa-envelope"></i></a>
            <a href="https://linkedin.com/in/travis-roth"target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/travis-roth"target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
    </section>
    
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>




{% endblock %}