{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<section>
        <h3>

                This Privacy Policy describes how Travis Roth Info ("I", "me", or "my") collect, use, and share information when you visit or make a purchase from travisroth.info (the "Site").
                
                Information I Collect
                
                When you visit the Site, I automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device. Additionally, as you browse the Site, I collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. I refer to this automatically-collected information as "Device Information".
                
                I collect Device Information using the following technologies:
                
                "Cookies" are data files that are placed on your device or computer and often include an anonymous unique identifier. For more information about cookies, and how to disable cookies, visit http://www.allaboutcookies.org.
                "Log files" track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.
                "Web beacons", "tags", and "pixels" are electronic files used to record information about how you browse the Site.
                How I Use Your Information
                
                I use the Device Information that I collect to improve and optimize my Site (for example, by generating analytics about how my customers browse and interact with the Site, and to assess the success of my marketing and advertising campaigns).
                
                Sharing Your Personal Information
                
                I do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist me in operating my website, conducting my business, or servicing you, so long as those parties agree to keep this information confidential. I may also release your information when I believe release is appropriate to comply with the law, enforce my site policies, or protect mine or others' rights, property, or safety.
                
                Data Retention
                
                When you place an order through the Site, I will maintain your Order Information for my records unless and until you ask me to delete this information.
                
                Changes
                
                I may update this privacy policy from time to time in order to reflect, for example, changes to my practices or for other operational, legal, or regulatory reasons.
                
                Contact Me
                
                For more information about my privacy practices, if you have questions, or if you would like to make a complaint, please contact me by email at travisro@outlook.com.</h3>
</section>
{% endblock %}