{% extends "base.html" %}

{% block title %}Website Dashboard{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='scripts/dashboard.js') }}"></script>

</head>
{% endblock %}

{% block content %}
<body>
    <section class="dashboard">
        <div class="dashboard-container">
            <div class="text-container">
                <h1>Portfolio Website Details</h1>
                <p>This website is the culmination of everything I've learned so far, designed to showcase my work and share it with you. If you're interested in how it was built, you can view the code on <a href="https://github.com/travis-roth/website" target="_blank" class = btn-ppage>GitHub<i class="fa-solid fa-arrow-right"></i></a>. One of the leading motivations for building this project was to expand my knowledge of web analytics and measurement. Below is an administrative dashboard for the website, with data collected through the Google Analytics data API.</p>
                <p>SKILLS GAINED: Web Analytics, Web Development, Google Analytics, Google Data API, Python Flask, Amazon Web Services, EC2
                </p>


            </div>
            <div class="panel-container">
                <div class="main-panel">
                    <div class="panel-KPIs">
                        <div class="KPI">
                            <form id="heroMetricForm">
                                <label for="heroMetric">Select Metric:</label>
                                <select name="heroMetric" id="heroMetric">
                                    <option value="Users" selected>Users</option>
                                    <option value="Views">Views</option>
                                </select><br>
                            </form>
                        </div>
                    </div>
                    <canvas id="lineChart" width="400" height="200"></canvas>
                    <form id="startDateForm">
                        <label for="startDate">Select Time Frame:</label>
                        <select name="startDate" id="startDate">
                            <option value="yesterday">1 Day</option>
                            <option value="7daysAgo" selected>7 Days</option>
                            <option value="30daysAgo">30 Days</option>
                        </select><br>
                    </form>
                </div>
                <div class="secondary-panel">
                    <div class="panel-KPIs">
                        <h1>Page Views</h1>
                    </div>
                    <div id="eventsByPageTable"></div>
                </div>
            </div>
            <div class="panel-container">
                <div class="secondary-panel">
                    <div class="panel-KPIs">
                        <h1>Sessions</h1>
                    </div>
                    <div id="sessionsBySourceTable"></div>
                </div>
                <div class="main-panel">
                    <div class="panel-KPIs">
                        <h1>Sessions</h1>
                    </div>
                    <canvas id="myChart" width="200" height="100"></canvas>
                </div>
            </div>
    </div>
    </section>
</body>
{% endblock %}
