@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

section.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "Roboto",sans-serif;
    font-weight: 500px;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    background-color: #4b4a4a;
    border-radius: 1.5rem;
    padding: 2vw;
    margin: 0;
}

.dashboard-container p {
    margin-bottom: 1vh;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: .25vw;
}

.panel-container {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 70vh;
    background-color: #4b4a4a;
    border-radius: 1.5rem;
}


.main-panel {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: .25vw;
    padding: 2vw;
    border-radius: 1.5rem; /* Rounded corners for all charts */
    background-color: #5f5e5e; /* Background color for all charts */
}

.secondary-panel {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: .25vw;
    padding: 2vw;
    border-radius: 1.5rem; /* Rounded corners for all charts */
    background-color: #5f5e5e; /* Background color for all charts */
}



/* KPI panel layout */
.panel-KPIs {
    display: flex;
    flex-direction: row;
}

.KPI {
    margin-right: 10%;
}

/* Style for select dropdown */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px 40px 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000000"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    cursor: pointer;
}

/* Style for dropdown options */
select option {
    padding: 8px 16px;
    font-size: 16px;
}

/* Style for selected option */
select option:checked {
    font-weight: bold;
    text-decoration: underline;
}

/* Style for all charts */
canvas {
    width: auto;
    height: auto;
    font-size: 14px;
    color: #fff; /* Adjust as needed */

}

/* Container for charts */
.chart-container {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
}

/* Style for axes labels */
.chartjs-axis-title {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

/* Style for legend */
.chartjs-legend {
    font-size: 12px;
    color: #fff;
}

/* Style for tooltip */
.chartjs-tooltip {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

/* Style for HTML tables */
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    background-color: #5f5e5e; /* Background color matches the charts */
    border-radius: 1.5rem; /* Rounded corners for all charts */
    color: #fff; /* Text color matches the charts */
    padding: 4vw;
}

/* Style for table headers */
table th {
    padding: 8px;
    text-align: left;
    font-size: larger;
}

/* Style for table cells */
table td {
    padding: 8px;
    text-align: left;
}