@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('reset.css');

:root {
    --primary-color: #4b4a4a;
    --secondary-color: #e97911;
}

li,a,button,p {
    font-family: "Roboto",sans-serif;
    font-weight: 500px;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    margin: 0;
}

h1 {
    font-family: "Roboto",sans-serif;
    font-weight: 500px;
    font-size: 1.5em;
    text-decoration: none;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.5em;

}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #4b4a4a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    background-color: #4b4a4a;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 5rem;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color:#fff;
  }

section {
    display: flex;
    flex-direction: row;
    text-align: left;
}

section.hero {
    flex: 1;
    display: flex;
    height: 80vh;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
}

section.contact {

    align-self: center;
    text-align: center;
    align-items: center;
    margin-top: 30rem;
    flex-direction: column;
}

section.project-table {
    height: 80vh;
    width: 100vw;
    align-self: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.project-row {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
    border-bottom: 5px solid #ccc; /* Add a solid border as the divider line */
}

.project-name {
    width: 20vw;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 1rem;
}

.project-category {
    width: 20vw;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 1rem;
}

.project-description {
    width: 30vw;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .project-name {
        white-space: normal;
    }
    .project-description, .project-category{
        display: none; /* Hide project descriptions on mobile */
    }
}

section.weather {
    height: 80vh;
    width: 100vw;
    align-self: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

section.weather h1{
margin: 1.5rem;
}

section.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4.8rem;
    margin-top: 25rem;
    margin-left: 4.8rem;
}

section.projects a {
    background-color: #e97911;
    padding: .3rem;
    border-radius: .5rem;
}
.project1 {
    display: flex;
    flex-direction: row;
}

.project2 {
    align-self: flex-end;
    margin-top: 25rem;
    margin-right: 4.8rem;
    text-align: right;
    position: relative
}

.project3 {
    margin-top: 40rem;
    margin-left: 15vw;
    position: relative
}

.project4 {
    align-self: center;
    margin-top: 30rem;
    margin-right: 4.8rem;
    position: relative
}

#computergif {
    max-width: 10rem;
    transform: rotate(10deg);
}

@keyframes run-across {
    from {
        transform: translateX(-300vw);
    }
    to {
        transform: translateX(calc(100vw - 100px));
    }
}

#footballgif {
    max-width: 30rem;
    position: absolute; 
    top: -50%; 
    left: 0; 
    animation: run-across 8s linear infinite; 
}

@keyframes rise {
    0% {
        left: 100%;
        top: 50%;
    }
    100% {
      left: -150%;
      top: 50%;
    }
  }

#weathergif {
    max-width: 30rem;
    position: absolute; 
    top: 5rem; 
    left: -15%; 
    animation: rise 10s cubic-bezier(0.2, 0.9, 0.9, 0.2) infinite;
}

#project1-1 {
    margin-left: 5vw;
}

.hero-name {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

#hero-name {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 26vw;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow-x: visible;
    color: #fff;
    transition: color 0.3s;
    line-height: 100%;

}

.hero-text {
    display: flex;
    flex-direction: row;
    overflow-wrap: normal;
    margin-left: 5vw;
    margin-bottom: 1rem;
    width: 20rem;
    justify-content: flex-end;
    position: relative;
}

.hero-text h1 {
    line-height: 1.5rem;
}

#cursor {
    width: .5rem;
    height: 1.5rem;
    background-color: white;
    animation: blink 1s infinite;
    position: absolute;
    bottom: 0;
    right: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.btn {
    display: inline-block;
    background-color: #e97911;
    padding: .3rem;
    border-radius: .5rem;
}

.btn-ppage {
    display: inline-block;
    background-color: #e97911;
    padding: .5rem;
    border-radius: .5rem;
    width: auto;
}

.burger-menu {
    display: none;
  }

.burger-icon {
    width: 3rem;
    height: .25rem;
    background-color: #fff;
    margin: 1rem;
}
  
  @media (max-width: 768px) {
    .burger-menu {
      display: block;
      cursor: pointer;
    }
  
    .nav-links {
      display: none;
    }
  
    .nav-links.active {
      display: block;
    }
  
    .nav-link {
      display: block;
      padding: 10px 20px;
      color: #fff;
      text-decoration: none;
      border-radius: 30px;
      border: 2px solid white;
      margin: 10px 0;
    }
  
    .nav-link:hover {
      color: rgb(233, 121, 17);
      transition: color 0.3s ease;
    }
  }
  



@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


i.fas,
i.fa-brands {
    font-size: 2rem;
    padding:.5rem;
    color: #fff;
    border-radius: .25rem;
}

i.fas:hover,
i.fa-brands:hover {
    color: #e97911;
    transition: color 0.3s ease;
}

i.fa-solid.fa-arrow-right {
    font-size: 1rem;
    color: #fff;
}

a.btn-ppage .fa-solid.fa-arrow-right {
    transition: transform 0.3s ease; 
}

a.btn-ppage:hover .fa-solid.fa-arrow-right {
    transform: rotate(-45deg); 
}

a.btn-ppage .fa-solid.fa-arrow-right {
    transform: rotate(0deg); 
}

a.btn-ppage:not(:hover) .fa-solid.fa-arrow-right {
    transform: rotate(45deg);
}

iframe {
    height: 100vh; /* Set the height as desired */
    width: 80vw; /* Optionally, set the width to fill the container */
    border: none; /* Optionally, remove the border */
}

